<!-- start custom footer snippets -->

<!-- end custom footer snippets -->
<div class="page__footer-copyright">
    Meteor icon license made by : 
    <a style="font-size: 12px;" href="https://www.flaticon.com/kr/authors/xnimrodx" title="유성 아이콘">xnimrodx - Flaticon</a>
    & 
    <a style="font-size: 12px;" href="https://www.flaticon.com/kr/free-icon/meteor_1434067" title="유성 아이콘">Meteor icon</a>
    / DevOps icon license made by : 
    <a style="font-size: 12px;" href="https://www.flaticon.com/kr/authors/sbts2018" title="- 아이콘">SBTS2018 - Flaticon</a>
</div>

<div class="page__footer-copyright">
    Font made by : 
    <a style="font-size: 12px;" href="https://noonnu.cc/font_page/427" title="메이플스토리폰트">Font</a>
    &
    <a style="font-size: 12px;" href="https://maplestory.nexon.com/Media/Font" title="메이플스토리폰트">Font License</a>
</div>