---
layout: archive
---

{{ content }}

<h2 class="archive__subtitle" stype="color: blue">Introduction</h2>
<h3 style="font-size: 18px"> Tech </h2>
<p style="line-height: 0.5; font-size: 15px"> CI/CD : Jenkins, Gitlab, Github, SVN </p>
<p style="line-height: 0.5; font-size: 15px"> Server : Linux(CentOS, Rocky), Kubernetes, Docker </p>
<h3 style="font-size: 18px"> Certificate </h3>
<img src="/images/home/aws-certified-solutions-architect-associate.png">
<img src="/images/home/aws-certified-solutions-architect-professional.png">
<img src="/images/home/aws-certified-data-analytics-specialty.png">
<img src="/images/home/cka-certified-kubernetes-administrator.png">
<img src="/images/home/ckad-certified-kubernetes-application-developer.png">


<h2 class="archive__subtitle" stype="color: blue">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
