---
layout: archive
---

{{ content }}

<h2 class="archive__subtitle" style="color: #E2495B">Introduction</h2>
<h3 style="font-size: 18px"> &#9989; Tech </h2>
<p style="line-height: 0.5; font-size: 14px"> &#8231; Middleware : Apache, Wildfly, Redis, k8s, Docker </p>
<p style="line-height: 0.5; font-size: 14px"> &#8231; CI/CD : Jenkins, Gitlab, Github, SVN, Nexus </p>
<p style="line-height: 0.5; font-size: 14px"> &#8231; Cloud Platform : AWS, NCP </p>
<h3 style="font-size: 18px"> &#9989; Certificate </h3>
<img src="/images/home/aws-certified-solutions-architect-associate.png" width="77" height="77">
<img src="/images/home/aws-certified-solutions-architect-professional.png" width="77" height="77">
<img src="/images/home/aws-certified-data-analytics-specialty.png" width="77" height="77">
<img src="/images/home/cka-certified-kubernetes-administrator.png" width="77" height="77">
<img src="/images/home/ckad-certified-kubernetes-application-developer.png" width="77" height="77">
<img src="/images/home/NCP.png" width="77" height="77">
<p style="line-height: 0.5; font-size: 14px"> &#8231; 정보처리기사, 리눅스마스터2급, ADsP </p>
<p style="line-height: 0.5; font-size: 14px"> &#8231; 네트워크관리사2급, SQLD </p>

<br>
<h2 class="archive__subtitle" style="color: #E2495B">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
