---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">Tech</h3>
<p> 자격증 </p>
<img src="/images/home/aws-certified-data-analytics-specialty.png">
<img src="/images/home/aws-certified-solutions-architect-associate.png">
<img src="/images/home/aws-certified-solutions-architect-professional.png">
<img src="/images/home/cka-certified-kubernetes-administrator.png">
<img src="/images/home/ckad-certified-kubernetes-application-developer.png">

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
